<div class="nav">
    <span class="font ms-2">La Mia Pizzeria</span>
    <img class="logo" src="~/img/pizzaIcon.png" alt="logo">
    <p class="me-2">
        <img class="social" src="~/img/instagram.png" alt="logo">
        <img class="social" src="~/img/facebook.png" alt="logo">
        <img class="social" src="~/img/whatsapp.png" alt="logo">
    </p>

</div>